{% extends "base.html" %} 

{% block body %}
<table class="table table-striped">
  <button type="button" class="btn btn-primary" id = "new-button" data-toggle="modal" data-target="#newItemModal">New Entry</button>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <th scope="row">{{entry.date}}</th>
      <td>{{entry.title}}</td>
      <td>
        <a href="#"><button type="button" class="btn btn-primary" id="view-button">View</button></a>
        <!-- Button trigger modal -->
        <button
        type="button"
        id = 'delete-button'
        data-item-id="{{entry.date}}"
        data-toggle="modal"
        data-target="#deleteModal"
        class="btn btn-danger"
        onclick="{setDeleteId(this)}"
      >
        Delete
      </button>
        <button type="button" class="btn btn-primary" id="upload-button"> Upload Image </button>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>


{% include "modals.html" %} 
{% endblock %}